.idea/

/.nyc_output/
/coverage/

node_modules/
*.js
!/*.js
!/scripts/*.js
*.js.map
/vscode/syntaxes/*.json
/tests/cases/**/*.yaml
/tests/cases/Binder/smokeTest.monkey
/tests/cases/MonkeyX/
*.buildv*/
